*{
	font-family: arial;
	margin: 0px;
	padding: 0px;
}
h1{
	font-color: black;
	margin:40px;
}
.number-box-style{
	font-size: 3em;
	width: 3.6em;
	border: 1px solid grey;	
	border-style: solid none solid none;
}
.operator-style{
	font-size: 3em;
	width:4.5em;
	border: 1px solid grey;	
	border-style: solid none solid none;
}
.number-table-style{
	border: 1px solid grey;	
}
.number-button-style{
	border: none;
	width: 3em;
	height: 3em;
	background-color:#f2f2f2;
}
.calc-button-style{
	font-size:3em;
	color:grey;
	background-color:#f2f2f2;
	border: 1px solid grey;	
	border-style: solid none solid none;
}